RewriteEngine On

#UNCOMMENT FOR HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule ^/(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]


#UNCOMMENT FOR 404 ERROR DOCUMENT
#ErrorDocument 404 http(s)://www.example.com/404error
#RewriteRule ^404error$ 404.php [L]
#RewriteRule ^users$ index.php [L]

#MAIN PAGES
RewriteRule ^logout$ controllers/logout_controller.php [L]
RewriteRule ^login$  views/users/login.php [L]
RewriteRule ^signup$ views/users/new.php [L]
RewriteRule ^forgot$ views/users/forgot.php [L]
RewriteRule ^verify$ views/users/verify.php [L]

#USER PROFILE REWRITES
RewriteRule ^([a-zA-Z0-9\-]+)$ views/users/show.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/edit views/users/edit.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/posts views/users/posts.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/photos views/users/photos.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/videos views/users/videos.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/buds views/users/buds.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/followers views/users/followers.php?id=$1 [L]
RewriteRule ^([a-zA-Z0-9\-]+)/following views/users/following.php?id=$1 [L]


