/*BIO*/
.prodDesc, .similarWrap{
	margin: 0;
	padding: 0 0 5px 0;
}

.prodDesc h3, .similarWrap h3{
	margin: 0;
	padding: 5px 0 5px 5px;
	color: #299a0b;
	font-size: 14px;
	font-family: Verdana;
	border-top: 5px solid #5FB02D;
	border-bottom: 1px solid #c7c7c7;
	position: relative;
	background-color: #fff;
}

.prodDesc h3:before{
	font-family: FontAwesome;
	content: "\f05a";
	position: absolute;
	right: 5px;
	bottom: 4px;
	font-size: 20px;
	color: #ACDC2A;
}

.similarWrap h3:before{
	font-family: FontAwesome;
	content: "\f024";
	position: absolute;
	right: 5px;
	bottom: 4px;
	font-size: 20px;
	color: #ACDC2A;
}

.prodBioWrap{
	width: 342px;
	padding: 10px;
	margin: 10px auto;
	background-color: #f1f1f1;
	border: 1px solid #c7c7c7;
	border-radius: 3px;
}

.prodDesc p{
	color: #000000;
	margin: 15px 0px;
	padding: 0;
	position: relative;
	font-size: 15px;
	width: 100%;
	border-bottom: 1px solid #c7c7c7;
}

.prodDesc span{
	font-size: 15px;
}

span.headExpl{
	font-size: 13px;
	font-weight: bold;
	color: #299a0b;
	padding: 5px;
	background-color: #e8e8e8;
	display: block;
	width: 95px;
	text-align: center;
	font-family: Verdana;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-top: 1px solid #c7c7c7;
}

span.descrip{
	display: block;
	margin-left: 10px;
	font-family: Verdana;
	font-size: 13px;
}

span.light{
	color: #000000;
	padding: 0px 1px;
}

span.small{
	font-size: 12px;
	color: #000000;
	padding: 0px 1px;
}

.keyword{
	text-decoration: underline;
}

/*SIMILAR*/
.similarWrap{
	margin-top: 10px;
}

.similarWrap h3{
	margin-bottom: 5px;
}

.similarStrain{
	padding: 5px 10px 5px 10px;
}

p.similarName{
	color: #223344; 
	padding-top: 20px;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

p.similarName a{
	text-decoration: none;
	color: #223344;
}

p.similarName a:hover{
	text-decoration: underline;
}

p.strainUses{
	font-size: 12px; 
	color: #999999;
	margin: 0;
	padding: 0;
}

.similarImg{
	width: 75px; 
	height: 75px; 
	float: left; 
	border: 1px solid #c7c7c7;
	margin-right: 3px;
}




